*.a
*.bak
*.log
*.o
*.obj
*.opensdf
*.orig
*.pch
*.pdb
*.sbr
*.sdf
*.suo
*.tlb
*.tlh
*.tli

obj/

Debug/
Release/

*.user

#profiling
gmon.out

# Visual C++ cache files
.vs/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx

#NuGet
apps/win/packages/
!packages/repositories.config

#Resharper
_ReSharper.Caches/